<div style="display:flex; flex-direction:column; align-items:center;">
  <h1>Gif <%= @num %></h1>

  

  <img src="/proxy?url=<%= CGI.escape(@gif.link) %>" alt="bruh idk" class="responsive-gif">

  <div>
    <script>
      function sendIt(event, form) {
        event.preventDefault();

        const rating = form.querySelector('.rating').value;

        fetch('<%= gif_path(@gif.id) %>', {
          method: 'PATCH',
          headers: {
            'Content-Type': 'application/json',
            'X-CSRF-Token': '<%= form_authenticity_token %>'
          },
          body: JSON.stringify({ rating: rating })
        })
        .then(response => response.json())
        .then(data => {
          console.log('Success:', data);
          showToast('Rating submitted successfully!');
          fetch('/random_next')
            .then(response => {
                if (response.ok) {
                return response.json();
                } else {
                throw new Error('No unrated GIFs available');
                }
            })
            .then(data => {
                console.log('Random GIF:', data.gif);
                setTimeout(() => {
                    window.location.href = `/gifs/${data.gif.id}`;
                }, 500); 
            })
            .catch(error => {
                console.error(error.message);
                alert(error.message);
            });
        })
        .catch(error => {
          console.error('Error:', error);
          showToast('Rating failed!');
        });
      }

      
    </script>
    <form onsubmit="sendIt(event,this)" style="display:flex; flex-direction:column; align-items:center;">
      <input 
        type="range"
        min="0"
        max="5"
        step="0.5"
        value="<%= @rank.nil? ? 2.5 : @rank.rank %>"
        class="rating"
        style="--val: <%= @rank.nil? ? 2.5 : @rank.rank%>;"
        oninput="this.style='--val:'+this.value"
      >
      <input type="submit" value="Submit Ranking"  style="font-size:3rem; border-radius:5px">
    </form>
  </div>

</div>