<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Ranker" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  
    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
  
    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag 'application', 'data-turbo-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbo-track': 'reload' %>
  </head>

  <body>
      <script>
      function showToast(message, isError = false) {
        const toast = document.createElement('div');
        toast.textContent = message;
        toast.style.position = 'fixed';
        toast.style.bottom = '20px';
        toast.style.left = '50%';
        toast.style.transform = 'translateX(-50%)';
        toast.style.backgroundColor = isError ? '#ff4d4d' : '#4caf50';
        toast.style.color = 'white';
        toast.style.padding = '10px 20px';
        toast.style.borderRadius = '5px';
        toast.style.boxShadow = '0 2px 5px rgba(0, 0, 0, 0.2)';
        toast.style.zIndex = '1000';
        document.body.appendChild(toast);

        setTimeout(() => {
          toast.style.opacity = '0';
          setTimeout(() => toast.remove(), 500);
        }, 3000);
      }
      </script>
    <nav>
        <ul>
          <li><a href="<%= root_path %>">Home</a></li>
          
          <% if user_signed_in? %>
            <li><a href="<%= rankings_path %>">My rankings</a></li>
          <% end %>
          <li><a href="<%= global_rankings_path %>">Global rankings</a></li>
          <li>
            <%= link_to "Logout", destroy_user_session_path, method: :delete, data: { confirm: "Are you sure you want to log out?" } %>
          </li>
        </ul>
      </nav>
    <%= yield %>
  </body>
</html>
